.userCard{
    margin: 20px;
    padding: 10px;
    width: 20vw;
    border-radius: 5px;
    background-color: rgb(232, 232, 232);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}
.userCard h2{
    text-align: center;
    color: rgb(128, 128, 128);
    font-family: Arial, Helvetica, sans-serif;
}
.userInfo{
    border-radius: 10px;
    background-color: rgb(128, 128, 128);
    padding: 10px;
    color: rgb(232, 232, 232);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}
.userEmail h3, .userEmail p {
    margin-bottom: 2px;
    margin-top: 2px;
}
.companyInfo h3, .companyInfo p {
    margin-bottom: 2px;
    margin-top: 2px;
}